
@keyframes scaleUp {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform:scale(1);
    }
  }
  

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*:focus{
    outline: none;
}
body{
    background: #f0f0f0;
}
/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 1s;
  }
  .ripple:hover {
    background: #f8f9fa radial-gradient(circle, transparent 20%,#f8f9fa 50%) center/15000%;
  }
  .ripple:active {
    background-color: #ff49804f;
    background-size: 100%;
    transition: background .8s;
  }
a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
background-color: #ff498023!important;
}
.navbar{
    padding-top:40px;
}
.navbar .form-control{
    padding:2px;
    font-size:13px;
}
.nav-bottom{
    /* padding-bottom:45px !important; */
}
.phone-navigation{
    height:30px;
    background: black;
    width:100%;
}
.badge-primary{
    background: #ff4980;
    font-size:10px;
}
.page-wrap{
}
.form-control{
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-inline{
    width:100%;
    flex-flow: nowrap;
}
.nav-top .nav-item .far{
    font-size:24px;
}
.fa-bell{
    transform: rotate(-30deg);
}
.nav-link{
    padding: 0;
}
.nav-bottom .nav-item{
    padding:15px 10px ;
    width:100%;
    border-radius:2em;
}
.nav-bottom .nav-item:hover{
    background: #ff49804f;
}
.home-icon{
    padding: 17px 10px 14px 10px !important;
}
.feed-icon{
    padding:13px 10px 14px 10px !important;
}
.play-icon{
    padding: 16px 10px !important;
}
.cart-icon{
    padding:16px 10px 14px 10px !important;
}
.nav-top .nav-link,.nav-top .nav-link:hover{
    color:#ff4980;
}
.nav-top .svg-icon{
    height:15px;
}
.nav-top .input-group-text{
    padding:0px 5px 0px 10px;
    background: white;
    border-right:none;
    border-top-left-radius: 10em !important;
    border-bottom-left-radius: 10em !important;
}
.nav-top .input-group-prepend{ 
    box-shadow: none;
}
.nav-top .nav-item .far{
    font-size:28px;
}

.form-control:focus{
    box-shadow:none;
}
.nav-top .search-bar{
    border-radius:.1em;
    border-top-right-radius: 10em !important;
    border-bottom-right-radius: 10em !important;
    border-left:none;
}
.nav-bottom{
    box-shadow: 10px 10px 10px;
    padding: 0px 0px;
}
.nav-bottom .nav-link{
    opacity: 1;
    
}
/* .nav-bottom .nav-link:active{
    animation: scaleUp 3s;
} */

.cls-1 {
    fill: #7a7a7a;
    fill-rule: evenodd;
}
.cls-1.active{
    fill: #ff4980;
}
.nav-bottom .svg-icon{
    height:35px;
    padding: 5px 2px;
}
.bg-pink{
    background-color:#ff4980;
}
.fill-pink{
    color:#ff4980;
}
.bg-grey{
    background-color:#f0f0f0;
}
.fill-black{
    color:#212529 !important;
}
.item-card .card-body{
    padding:0px;
}
.item-card{
    width:100%;
    flex-wrap: wrap;
}
.card-text .fa-star{
    font-size:9px;
    color: #ff4980;
}
.item-card .card-title{
    font-size:16px;
    margin-bottom:.5rem;
}
.item-card .card-text{
    font-size:12px;
}
.item-card .col-8, .item-card .col-4{
    padding:0;
}
.card-body .card-body-left{
    padding:15px;
}
.item-card .card-img, .card-img-top{
    border-radius: 0;
}
.card{
    border:none;
}
.card-body{
    padding:1rem;
}
.item-card .price-text{
    font-size:16px;
    color: #ff4980;
}
.app-link{
    color: #2b2b2b;
}
.user-card-item .app-link{
    font-size:12px !important;
}

/* USER PAGE */

.user-page .card{
    border-radius:0;
}
.user-card .card-text{
    font-size:12px;
}
.user-card .card-img-top{
    border-radius:10em;
}
.user-card .col-10{
    padding:0;
}
.user-card .card-body{
    background: white;
    padding: .4rem .5rem .8rem .5rem;
}
.user-name{
    font-weight: 700;
    font-size:18px;
    margin-bottom:0;
    color:#2b2b2b;
}
.user-card .follow-count{
    font-size: 12px;
    opacity:.9;
}
.user-card .fa-star{
    color:white;
}
.user-card-item{
    border-bottom:1px solid rgb(240, 240, 240);
}
.user-card-item, .user-menu-card{
    width:100%;
}
.user-card-item .card-title{
    font-size:14px;
}
.user-card-item .nav-item{
    font-size:20px;
    color: #ff4980;
    width:25%;
    border-radius:10em;
}
.user-purchases-card{
    font-size:14px;
}
.user-card-item small{
    font-size:60%;
}
.user-card-item .nav-item:not(:active){
    transition: background-color .5s step-end;
}
.user-card-item .nav-item:active{
    background: #ff49804f;
    transition: .3s ease-in-out;
}
.user-menu-card .nav-item{
    font-size:14px;
}
.user-page .card-title{
    margin-bottom:0;
}
.user-card-item .far, .user-card-item .fas{
    color:#ff4980;
    font-size:18px;
}
.user-card-item .fa-chevron-right{
    font-size:12px;
}
.user-card-item .sub-card{
    padding:15px 5px;
}

/* POINTS PAGE */
.points-page{  
    font-size:14px;
}
.points-page .col-12{
    padding:0;
}
.points-page .nav-item{
    width:25%;
}
.points-page .nav-link{
    text-align: center;
    background:transparent;
    border:none;
    padding: 10px 5px;
    color: #2b2b2b;
}
.points-page .nav-link.active{
    background: transparent;
    border-bottom: 5px solid #ff4980;
    color:#ff4980;
}
.points-page .nav-tabs{
    border:none;
    background:white;
}
.points-page .tab-content a{
    text-decoration: none;
    color:#2b2b2b;
}
.points-page .tab-content .far{
    font-size:22px;
    opacity:.8;
}
.points-page .tab-content .card-body{
    padding:30px 20px;
}
.points-page .tab-content .card{ 
    width:100%;
    border-radius: 0;
    border-bottom:1px solid rgb(240, 240, 240);
}
.points-page .tab-content h6,
.points-page .tab-content p{
    margin-bottom:0;
}

/* FEED PAGE */
.user-avatar{
    width:37px;
    border-radius: 10em;
}
.feed-page .col-12{
    padding:0;
}
.feed-page .nav-item{
    width:33.33%;
}
.feed-page .nav-link{
    text-align: center;
    background:transparent;
    border:none;
    padding: 10px 5px;
    color: #2b2b2b;
}
.feed-page .nav-link.active{
    background: transparent;
    border-bottom: 5px solid #ff4980;
    color:#ff4980;
}
.feed-page .nav-tabs{
    border:none;
}
.feed-page .tab-content a{
    text-decoration: none;
    color:#2b2b2b;
    

}
.feed-page .tab-content .fas,
.feed-page .tab-content .far{
    font-size:22px;
}
.feed-page .tab-content .fas{
    color: #ff4980;
}
.feed-page .tab-content{
    /* background:#f5f2f3; */
    /* background:#ecdfe5; */
    background:#f0f0f0;
}
.feed-page .tab-content .card-body{
    padding:10px 5px;
    background:white;
}
.feed-page .tab-content .card{ 
    width:100%;
    padding:0 10px;
    border-radius: 0;
    border-bottom:1px solid rgb(240, 240, 240);
}
.feed-page .tab-content h6,
.feed-page .tab-content p{
    margin-bottom:0;
}
.new-post .card-img, .card-img-bottom{
    border-radius:0;
}
.feed-page .post-avi{
    height:35px;
    border-radius:10em;
}
.feed-page .new-post .card-header{
    padding:10px 5px;
    border-bottom:none;
}
.new-post .text-muted{
    font-size:11px;
}
.post-text-header{
    line-height: .8;
}
.feed-page .tab-content .card-title{
    margin-bottom:8px;
}
.new-post .card-text{
    font-size:14px;
}
.feed-page .tab-content .post-reacts{
    padding-top:0;
}
.post-reacts .far:hover{
    color:#ff4980;
}
.new-post .dropdown-menu{
    font-size:14px;
}
.new-post .dropdown-menu a:active{
    background:#ff4980;
    color:white;
}
.feed-page .modal-dialog{
    width:60%;
}

.modal.fade .modal-dialog{
    /* transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    */
    /* -webkit-transform: translate(0,-50px); 
    transform: translate(0,-50px); */
    animation: scaleUp .1s;
}
.fade {
    transition: none;
}
.modal-backdrop
{
    opacity:.7 !important;
}
.modal-content .nav-item{
    width:100%;
}
.post-option-btn{
    font-size:16px !important;
}
.post-options .nav-link{
    text-align: left;
    border:none;
    padding:10px;
}
.post-options .nav-link.active{
    border:none;
}
.new-post a.bg-light:focus,
.new-post a.bg-light:hover{
    background:#f8f9fa!important
}
.img-crop img{
    object-position: center; /* Center the image within the element */
    width: auto;
    height:250px;
    margin-bottom: 1rem;
}
.new-post-textbox{
    border-radius: 10em !important;
    font-size:14px !important;
}
.new-post-textbox p{
    margin:0;
    color:black !important;
    font-weight: 400;
}
.add-new-post{
    padding:10px 15px;
}
.new-post-modal-wrap .modal-dialog{
    width:100%;
}
.new-post-modal-wrap .add-new-post{
    margin-top:30px;
    padding:10px 5px;
}
.new-post-modal-wrap .add-new-post
.new-post-textbox{
    margin-left:2em;
}
.modal-content{
    border:none;
    padding:10px;
    border-radius: 0;
}
.new-post-modal-wrap .modal-content{
    padding: 0;
    height: 100vh;
    overflow:auto; 
}
.new-post-modal-wrap .modal-backdrop{
    background: white !important;
    opacity: 1 !important;
}
.modal-header, .modal-body, .modal-footer{
    padding:10px;
}
.new-post-modal-wrap .modal-header{
    padding:35px 10px 2px 10px;
}
.new-post-modal-wrap .modal-body{
    padding:0;
}
.new-post-modal-wrap .card-title{
    margin:0;
}

.new-post-textarea{
    border-radius: .2em !important;
    min-height:30vh;
    max-height: 30vh;
    font-size:14px;
}
.new-post-textarea {
    padding:5px 15px !important;
    border:none;
    font-weight: 300;
    font-size:24px;
}
.close-post-modal{
    width:10% !important;
    padding:10px;
}
.submit-new-post{
    font-size:16px;
    padding:10px;
}
.activity-title{
    padding:10px;
}
.modal-body .post-avi{
    height:40px;
}
.modal-body .avi-container{
    padding:15px 15px 2px 15px;
}